/* stlye */
:root {
    --white: rgb(244, 245, 222);
    --light: azure;
    --midBg: rgb(41, 120, 194);
    --darkBg:  rgb(31, 10, 100);
}

body {
    background-color: var(--light);
    font-family: 'Rubik', sans-serif;
    line-height: 2;
}
header {
    background-image: linear-gradient(to right, var(--midBg), var(--darkBg));
    color: var(--white);
    padding: 5px 5px 10px 5px;
}
/* 5 day forcast cards */
.customCard {
    background-color: var(--darkBg);
    border: 1px solid var(--midBg);
    border-radius: 0;
    color: var(--white);
}
/* current weather card */
.customCardCurrent {
    border-radius: 0;
    border: 1px solid var(--darkBg);

}

/* created location buttons */
.savedSearch.btn {
    background-color: grey;
    border: 1px solid var(--darkBg);
    
    margin-top: 5px;
}

/* static search button */
#searchBtn {
    background-color: var(--midBg);
    color: white;
}

/* add media queries for forecast to stack*/