/* stlye */
:root {
    --white: rgb(244, 245, 222);
    --light: azure;
    --midBg: rgb(41, 120, 194);
    --darkBg:  rgb(31, 10, 100);
}

body {
    background-color: var(--light);
    font-family: 'Rubik', sans-serif;
    line-height: 2;
}
header {
    background-image: linear-gradient(to right, var(--midBg), var(--darkBg));
    color: var(--white);
    padding: 5px 5px 10px 5px;
}
.customCard {
    background-color: var(--darkBg);
    border: 1px solid black;
    border-radius: 0;
    color: var(--white);
}
.customCardCurrent {
    border-radius: 0;
    border: 1px solid var(--darkBg);

}
#searchBtn {
    background-color: var(--midBg);
    color: white;
}
